.header {
    background-color: #FFFFFF;
}

.header__inner {
    max-width: 1230px;
    text-align: center;
    border-bottom: 2px solid #f5f4f4;
}

.header__logo {
    color: #887a6b;
    text-decoration: none;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.contact__content {
    max-width: 1230px;
    background-color: #FFFFFF;
}

.section__title {
    color: #887A6B;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 30px auto;
}